<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.marzin.jacques.revlangues" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThemesActivity"
            android:label="@string/title_activity_themes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.marzin.jacques.revlangues.MainActivity" />
        </activity>
        <activity
            android:name=".MotsActivity"
            android:label="@string/title_activity_mots"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.marzin.jacques.revlangues.MainActivity" />
        </activity>
        <activity
            android:name=".VerbesActivity"
            android:label="@string/title_activity_verbes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.marzin.jacques.revlangues.MainActivity" />
        </activity>
        <activity
            android:name=".FormesActivity"
            android:label="@string/title_activity_formes"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.marzin.jacques.revlangues.MainActivity" />
        </activity>
        <activity
            android:name=".RevisionActivity"
            android:label="@string/title_activity_revision"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.marzin.jacques.revlangues.MainActivity" />
        </activity>
        <activity
            android:name=".ParametrageActivity"
            android:label="@string/title_activity_parametrage"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.marzin.jacques.revlangues.MainActivity" />
        </activity>
        <service
            android:name=".MiseAJour"
            android:exported="false" >
        </service>
        <receiver android:name=".RetourServiceMaj">
            <intent-filter>
                <action android:name = "fr.marzin.jacques.revlangues.action.MAJ"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
